html {
    background: url(..//img/bk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content{
    background-color: rgb(228, 210, 228);
    color: rgb(0, 0, 0);
    padding: 10px;
    height: 1000px;
    width: 500px;
    margin: 0 auto;

}
.profile_pic
{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

h1 {
    color:gray;
  }
